* {
	box-sizing: border-box;
}

:root {
	--black: #31393c;
	--blue: #33a1fd;
}

.nav {
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin-left: 1rem;
	padding-top: 1rem;
	position: relative;
}

.nav a {
	padding: 1rem;
	color: var(--black);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
}

.nav a:hover {
	color: var(--blue);
}

.nav a::before {
	content: "";
	display: block;
	height: 0.25rem;
	background-color: var(--blue);

	position: absolute;
	top: 0%;
	width: 0%;

	transition: all ease-in-out 500ms;
}

.nav a:hover::before {
	width: 100%;
}

.main {
	max-width: 1600px;
	margin: 0 auto;
}

.intro {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: center;
}

.intro div:nth-child(1) {
	padding: 3rem 10rem;
}

.intro h1 {
	font-size: 5rem;
	margin: 1rem 0rem;
}

.intro p {
	font-size: 1.5rem;
	margin: 1rem 0rem 2rem;
}

.intro img {
	width: 100%;
	border-radius: 70px;
}

.intro a {
	margin: 0rem 0.5rem;
	background-color: var(--black);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.2rem;
}

.intro a:nth-child(1) {
	margin-left: 0rem;
}

.intro a:hover {
	background-color: var(--blue);
	color: white;
}

.about {
	background-color: var(--black);
	color: white;
	text-align: center;
	padding: 3rem 1rem;
}

.about h2 {
	font-size: 3rem;
}

.about p {
	padding: 0rem 15rem;
	font-size: 1.2rem;
}

.projects > div {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 33.3% 33.3% 33.3%;
	align-items: center;
	justify-content: center;
	padding: 0rem 3rem;
	column-gap: 1rem;
}

.projects > div > a {
	overflow: hidden;
	width: 100%;
	max-height: 20rem;
	max-width: 100%;
	background: var(--blue);
}

.projects h2 {
	font-size: 3rem;
	text-align: center;
}

.projects img {
	width: 150%;
	transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.projects > div > a:focus {
	position: relative;
	z-index: 2;
}

.projects img:hover,
.projects > div > a:focus .projects img {
	transform: scale(1.2);
	opacity: 0.75;
}

@media (max-width: 1600px) {
	.intro div:nth-child(1) {
		padding: 3vw 10vw;
	}

	.intro h1 {
		font-size: 5vw;
		margin: 1vw 0rem;
	}

	.intro p {
		font-size: 1.2vw;
		margin: 1vw 0rem 2vw;
	}

	.intro a {
		margin: 0rem 0.5vw;
		padding: 0.5vw 1vw;
		font-size: 1.2vw;
	}
}

@media (max-width: 768px) {
	.intro {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.intro div:nth-child(1) {
		padding: 8vw 18vw;
	}

	.intro div:nth-child(3) {
		margin: 3vw;
	}

	.intro h1 {
		font-size: 8vw;
		margin: 1vw 0rem;
	}

	.intro p {
		font-size: 3.2vw;
		margin: 1vw 0rem 2vw;
	}

	.intro a {
		margin: 2rem 0.5vw;
		padding: 0.5vw 1vw;
		font-size: 3.2vw;
	}
}
